html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 100%;
  color: #4b4b4b;
  background: #45b29d;
  height: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clear {
  clear: both; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.button-trigger {
  border: 1px solid #6d1d1d;
  border-radius: 3px;
  background: rgba(109, 4, 1, 0.65) none repeat scroll 0 0;
  display: inline-block;
  height: 11px;
  margin-right: 7px;
  width: 11px;
  cursor: pointer;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.66) inset; }

.left-button-wrapper {
  left: -150px;
  position: absolute;
  top: 104px;
  z-index: 25000;
  display: none; }

.show-hotkeys, .toggle-tutorial, .example {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: .875em;
  cursor: pointer;
  border: 1px solid #8ccdc1;
  padding: 10px;
  width: 125px;
  text-align: center;
  color: #eee;
  margin-bottom: 10px;
  background: #3C9B88; }
  .show-hotkeys:hover, .toggle-tutorial:hover, .example:hover {
    background: #2C887A; }

.control-panel {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 206px;
  font-size: .8125em;
  float: left; }
  .control-panel .block-effect-panel {
    display: none; }
  .control-panel p {
    margin-bottom: 10px; }
  .control-panel .small {
    margin: 5px 0 0 0;
    font-size: .875em;
    font-style: italic; }
  .control-panel .dial-wrapper {
    margin-bottom: 10px;
    position: relative;
    width: 115px;
    float: left;
    cursor: pointer; }
  .control-panel .range-wrapper {
    position: relative;
    width: 102px;
    margin-left: 9px;
    float: left; }
    .control-panel .range-wrapper p {
      margin: 0 10px 0 8px;
      display: inline;
      font-size: .925em; }
  .control-panel .dial-wrapper-range {
    margin-bottom: 45px;
    margin-bottom: 51px;
    position: relative;
    width: 51px;
    float: left;
    cursor: pointer; }
    .control-panel .dial-wrapper-range .dial-input-rangelow {
      left: -6px;
      top: 30px;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .control-panel .dial-wrapper-range .dial-input-rangehigh {
      left: -10px;
      top: 30px;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .control-panel .dial-outline {
    background-color: rgba(239, 201, 76, 0.8);
    border-radius: 21px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 39px;
    position: absolute;
    top: -5px;
    width: 92px;
    left: -7px; }
  .control-panel .dial-bg {
    background-color: #ADACAA;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border: 2px solid #888;
    box-shadow: 3px 4px 1px 0 rgba(0, 0, 0, 0.23);
    height: 30px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    z-index: 500; }
  .control-panel .connector-line {
    background: #ccc;
    height: 1px;
    position: absolute;
    top: 15px;
    width: 60px;
    z-index: 0; }
  .control-panel .connector-line-vertical {
    background: #999;
    height: 34px;
    position: absolute;
    top: 26px;
    width: 1px;
    z-index: 0;
    left: 14px; }
  .control-panel .ui-spinner input, .control-panel .dial-wrapper input, .control-panel .dial-wrapper-range input {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #3f5765;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26) inset;
    color: #67c0cd;
    height: 33px;
    position: absolute;
    text-align: center;
    width: 48px;
    font-size: .925em; }
  .control-panel .dial-input {
    left: 57px;
    top: -15px; }
  .control-panel .note-music {
    left: 49px; }
  .control-panel .switch-wrapper {
    margin-top: 15px;
    float: left; }
    .control-panel .switch-wrapper p {
      font-size: 0.915em;
      margin: 2px 0 5px 22px; }
  .control-panel .switch {
    background: #edce69;
    float: left;
    border: 1px solid #9f9f9f;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19) inset;
    width: 14px;
    height: 32px;
    cursor: pointer;
    position: relative; }
    .control-panel .switch .toggle {
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      transition: all .5s;
      background: #d2d1ce;
      border-bottom: 1px solid #9f9f9f;
      box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.27);
      height: 16px;
      left: 0;
      position: absolute;
      width: 12px;
      border-top: 1px solid #9f9f9f; }
  .control-panel [data-direction="up"] .toggle {
    top: -1px; }
  .control-panel [data-direction="down"] .toggle {
    top: 15px; }

.panel-type-select li {
  float: left;
  background: #d2d1ce;
  padding: 12px 0px;
  width: 102px;
  text-align: center;
  opacity: .6;
  cursor: pointer; }
  .panel-type-select li:first-child {
    margin-right: 2px;
    width: 102px; }
.panel-type-select .active {
  background: #edebea;
  border-top: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  border-bottom: none;
  opacity: 1; }

.block-effect-panel select {
  margin-bottom: 20px; }
.block-effect-panel #select-note-scale {
  margin: 10px 0 5px 0; }
.block-effect-panel .header {
  background: #D6D4D4;
  border: 1px solid #999;
  border-top: none;
  position: relative; }
  .block-effect-panel .header .activator {
    border-right: 1px solid #a3a2a1;
    float: left;
    height: 26px;
    width: 31px;
    background: #edebea;
    cursor: pointer; }
    .block-effect-panel .header .activator[data-active="false"] .activator-button {
      background: none;
      border: 1px solid #a3a2a1; }
  .block-effect-panel .header .note-activator[data-active="true"] .activator-button {
    background: #e27a3f; }
  .block-effect-panel .header .volume-activator[data-active="true"] .activator-button {
    background: #907CCC; }
  .block-effect-panel .header .velocity-activator[data-active="true"] .activator-button {
    background: #CEAF52; }
  .block-effect-panel .header .duration-activator[data-active="true"] .activator-button {
    background: #45b29d; }
  .block-effect-panel .header .activator-button {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: inline-block;
    height: 15px;
    margin-left: 7px;
    margin-top: 6px;
    width: 15px; }
  .block-effect-panel .header svg {
    float: right;
    margin-top: 6px;
    width: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
    .block-effect-panel .header svg polygon {
      fill: #a3a2a1; }
  .block-effect-panel .header .toggle-drop {
    cursor: pointer;
    float: left;
    height: 26px; }
  .block-effect-panel .header .active svg {
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
.block-effect-panel h3 {
  float: left;
  font-size: 0.915em;
  line-height: 25px;
  margin-left: 25px;
  position: relative;
  top: 2px;
  width: 124px; }

.note-random, .note-specific, .volume-random, .volume-specific, .velocity-random, .velocity-specific, .duration-random, .duration-specific {
  display: none; }

.note-specific {
  display: none; }

.effect-select {
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea;
  padding: 20px; }
  .effect-select li {
    font-size: .75rem;
    display: inline-block;
    margin-bottom: 4px; }
    .effect-select li:nth-child(1), .effect-select li:nth-child(3), .effect-select li:nth-child(5) {
      width: 95px; }
  .effect-select .button-select {
    width: 11px;
    height: 9px;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 5px; }

.effect-note, .effect-volume, .effect-velocity, .effect-duration {
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  border-bottom: 1px solid #a3a2a1;
  padding: 20px;
  background: #edebea; }

.effect-volume, .effect-duration, .effect-velocity {
  display: none; }

.limit-range {
  float: left;
  width: 50px; }
  .limit-range p {
    text-align: center; }
  .limit-range .button-trigger {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin-left: 20px;
    margin-bottom: 3px; }

[data-limit-range="true"] .button-trigger {
  background: #EA1010; }

.instrument-select {
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea;
  padding: 20px; }

.direction-select {
  padding: 20px;
  background: #edebea;
  border-right: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-top: 1px solid #a3a2a1; }

.block-direction-select li {
  width: 18.4%;
  height: 27px;
  float: left;
  border: 1px solid #bbb;
  margin-right: 3px;
  border-radius: 2px;
  background: #dbd9d9;
  position: relative;
  cursor: pointer; }
  .block-direction-select li:last-child {
    margin-right: 0; }
  .block-direction-select li:hover {
    background: #fffefd; }
    .block-direction-select li:hover polygon {
      fill: #e27a3f; }
.block-direction-select .stop-square {
  background: #334d5c;
  border-radius: 2px;
  height: 9px;
  margin: 8px 0 0 10px;
  width: 9px; }
.block-direction-select polygon {
  fill: #334d5c; }
.block-direction-select .horizontal {
  width: 9px;
  position: absolute; }
.block-direction-select .vertical {
  height: 9px;
  position: absolute; }
.block-direction-select .left {
  left: 9px;
  top: 7px; }
.block-direction-select .right {
  left: 10px;
  top: 7px; }
.block-direction-select .down {
  left: 9px;
  top: 9px; }
.block-direction-select .up {
  left: 8px;
  top: 8px; }

.note-wrapper {
  width: 123px; }

.note-select, .level-select, .activate-blocks {
  border-top: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea;
  padding: 20px; }

.mute-solo li, .mute-piano li {
  font-size: 12px;
  margin-bottom: 7px; }
.mute-solo span, .mute-piano span {
  position: relative;
  top: 2px; }
  .mute-solo span[data-active="true"], .mute-piano span[data-active="true"] {
    background: #EA1010; }

.mute-piano {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: right;
  margin-top: 20px; }
  .mute-piano li {
    color: #eee; }

.piano-wrapper {
  margin-top: 10px;
  width: 640px;
  float: left;
  position: relative; }
  .piano-wrapper .range-indicator {
    position: absolute;
    top: 0;
    background: #6543cb;
    height: 45px;
    opacity: .6;
    z-index: 1000;
    pointer-events: none;
    display: none; }

.piano-roll {
  position: relative;
  border-bottom: 1px solid #a3a2a1;
  float: left; }
  .piano-roll li {
    float: left; }
    .piano-roll li:nth-child(2) {
      left: 11px; }
    .piano-roll li:nth-child(4) {
      left: 23px; }
    .piano-roll li:nth-child(7) {
      left: 50px; }
    .piano-roll li:nth-child(9) {
      left: 63px; }
    .piano-roll li:nth-child(11) {
      left: 76px; }
    .piano-roll li:hover {
      cursor: pointer; }
  .piano-roll .whitekey {
    width: 13px;
    height: 45px;
    background: #fff;
    border-left: 1px solid #a3a2a1; }
  .piano-roll .blackkey {
    background: #000;
    height: 26px;
    position: absolute;
    width: 6px;
    z-index: 100; }
  .piano-roll .active {
    background: #efc94c; }

.piano-roll-slider-min {
  float: left; }

.piano-roll-slider .slider-value {
  background: none;
  border: none;
  width: 637px; }

.piano-roll-slider {
  float: left; }

.piano-roll-slider .slider-value {
  background: none;
  border: none;
  width: 637px; }

#piano-slider-min .ui-slider-handle {
  margin-top: 10px;
  margin-left: -9px;
  background: url('../images/piano-slider-min.png') no-repeat; }

#piano-slider-max .ui-slider-handle {
  margin-top: -5px;
  margin-left: -9px;
  background: url('../images/piano-slider-max.png') no-repeat; }

.drumkit-type-wrapper {
  display: none;
  margin: 3px 0 0 3px;
  width: 178px;
  float: left; }
  .drumkit-type-wrapper.drum-aux {
    width: 88px; }
  .drumkit-type-wrapper p {
    color: #eee;
    font-size: 12px;
    text-align: center;
    margin-top: 4px; }

.drumkit-type {
  border-bottom: 1px solid #8ccdc1;
  border-left: 1px solid #8ccdc1;
  border-right: 1px solid #8ccdc1;
  height: 10px; }

.border {
  background: #8ccdc1;
  height: 7px;
  margin: 0 auto;
  width: 1px; }

.level-select p {
  float: left;
  position: relative;
  top: 10px;
  font-size: .95em; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('../images/block-arrow.png') no-repeat #bdbcba;
  background-position: 145px 8px;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 3px 10px;
  color: #4b4b4b;
  border: none;
  width: 164px;
  cursor: pointer;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 23px; }

.shadow {
  box-shadow: 0 5px 0 1px rgba(0, 0, 0, 0.09) inset; }

.ui-slider-horizontal {
  margin-top: 0px;
  position: relative;
  text-align: left;
  height: 0px;
  width: 637px;
  border: none;
  background: #4d4d4d; }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.4em;
  margin-left: 0px;
  cursor: default;
  height: 20px;
  position: absolute;
  width: 20px;
  z-index: 1005; }

.ui-slider-horizontal .ui-slider-range {
  background-position: 0 0;
  border: 0 none;
  display: block;
  font-size: 0.7em;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  bottom: 0; }

.ui-slider-horizontal .ui-widget-header {
  background: #45b29d;
  border: none; }

.ui-slider-horizontal .slider-value {
  font-size: .875rem;
  color: #4b4b4b; }

.ui-widget input {
  font-family: 'Istok Web', sans-serif;
  color: #67c0cd;
  background: #3f5765; }

.ui-spinner {
  position: relative;
  float: left;
  width: 50px;
  height: 28px; }
  .ui-spinner input.spinner {
    width: 32px;
    margin: 0;
    border: none;
    border-radius: 0;
    height: 28px;
    padding-top: 3px; }
  .ui-spinner a {
    position: absolute;
    background: #e5e4e1;
    right: -6px;
    color: #a3a2a1;
    width: 25px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #3f5765;
    text-align: center;
    cursor: pointer; }
  .ui-spinner .ui-spinner-up {
    top: 0;
    border-bottom: none; }
    .ui-spinner .ui-spinner-up .ui-icon {
      background-image: url("../images/spinner-up-arrow.png");
      background-position: 8px 4px; }
  .ui-spinner .ui-spinner-down {
    top: 14px; }
    .ui-spinner .ui-spinner-down .ui-icon {
      background-image: url("../images/spinner-down-arrow.png");
      background-position: 8px 4px; }
  .ui-spinner .ui-icon {
    text-indent: -99999px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px; }

#grid {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin-right: 10px;
  z-index: 10000;
  position: relative;
  cursor: pointer; }

#grid_lines {
  position: absolute;
  left: 0;
  background: #3f5765;
  z-index: 0; }

#gridHorizontal, #gridVertical {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 0;
  position: absolute;
  top: 0;
  z-index: 100; }

#gridHorizontal li {
  background: #394e5b;
  height: 1px;
  line-height: 1px; }

#gridVertical li {
  background: #394e5b;
  display: inline-block;
  width: 1px; }

.top-panel-wrapper {
  width: 640px;
  position: relative;
  height: 103px; }

.top-panel-section {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  margin-right: 18px;
  margin-top: 30px; }
  .top-panel-section p {
    color: #eee;
    font-size: 12px;
    margin-bottom: 4px;
    text-align: center; }
  .top-panel-section .border {
    background: #8ccdc1;
    height: 7px;
    margin: 0 auto;
    text-align: center;
    width: 1px; }
  .top-panel-section ul {
    margin-bottom: 10px;
    float: left;
    cursor: pointer;
    border: 1px solid #8CCDC1; }
    .top-panel-section ul li {
      float: left;
      text-align: center;
      opacity: .6;
      height: 38px;
      line-height: 50px;
      width: 41px; }
      .top-panel-section ul li.active, .top-panel-section ul li:hover {
        background: #2C887A;
        opacity: 1; }

.master-volume-section {
  float: right;
  margin: 82px 10px 0 0; }
  .master-volume-section img {
    float: left;
    left: -14px;
    position: relative;
    top: -2px;
    cursor: pointer; }

.master-volume-slider {
  width: 125px;
  height: 10px;
  background: #8ccdc1;
  border-radius: 10px;
  float: right; }
  .master-volume-slider .ui-slider-handle {
    background: #F7F7F7;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-left: -6px;
    top: -3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26); }

#wrapper {
  margin: 0 auto;
  position: relative;
  width: 856px;
  display: none;
  -webkit-transform: translate3d(0, 0, 0); }
  @media only screen and (max-width: 1180px) {
    #wrapper {
      margin: 0;
      left: 160px; } }

.browser-message {
  display: none;
  background: #edebea;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  padding: 20px 0;
  text-align: center; }

.mobile-message {
  color: white;
  font-size: 1.25em;
  line-height: 29px;
  margin: 100px auto 0;
  text-align: center;
  width: 60%; }

.close-browser-message {
  float: right;
  position: relative;
  right: 20px;
  top: -20px;
  cursor: pointer; }

.spinner-page {
  width: 100%;
  top: 40%;
  text-align: center;
  position: absolute;
  z-index: 30000; }
  .spinner-page p {
    font-size: 1.35em;
    margin-bottom: 16px;
    color: #fff; }

.spinner-instrument p {
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 12px; }

.spinner {
  margin: 0 auto;
  font-size: 10px; }

.spinner > div {
  background-color: #eee;
  height: 100%;
  width: 6px;
  display: inline-block;
  height: 36px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4); }

  20% {
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

.spinner-instrument {
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  height: 576px;
  padding-top: 240px;
  position: absolute;
  text-align: center;
  width: 640px;
  z-index: 20000;
  display: none; }

.hotekeys {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 45000;
  padding-top: 130px; }
  .hotekeys table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 400px;
    background: #e5e4e1;
    padding: 10px 10px 8px; }
    .hotekeys table td {
      border: 1px solid #a3a2a1;
      padding: 12px;
      font-size: .9em; }
      .hotekeys table td:last-child {
        text-align: center; }

.key-btn {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 0.875em;
  padding: 2px 10px 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4); }
  .key-btn .left {
    position: relative;
    left: -1px; }
  .key-btn .right {
    position: relative;
    left: 1px;
    top: 1px; }
  .key-btn.sml {
    padding: 2px 9px 0; }

.tutorial-text-wrapper {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 31000; }

.tutorial-text {
  line-height: 16px;
  width: 250px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 0.875em;
  padding: 12px 15px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4); }

.tutorial-next {
  cursor: pointer;
  display: none;
  background: #A9A8A7;
  color: #4b4b4b;
  border-radius: 3px;
  float: right;
  padding: 6px 0 5px 0;
  text-align: center;
  margin-top: 10px;
  width: 110px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4); }

.tutorial-overlay {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  background: transparent none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  z-index: 20000; }

.control-panel-overlay {
  height: 480px;
  position: absolute;
  right: 0;
  width: 206px; }

.top-panel-overlay {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute; }

.piano-overlay {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20000; }

.canvas-overlay {
  left: 0; }

.tutorial-arrow {
  position: absolute;
  z-index: 31000;
  height: 40px;
  width: 30px; }

.tutorial-down-arrow {
  background: url('../images/down-yellow-arrow.png') no-repeat; }

.tutorial-left-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg); }

.tutorial-up-arrow {
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg); }

.tutorial-right-arrow {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

.tutorial-down-arrow-noaction {
  background: url('../images/down-blue-arrow.png') no-repeat;
  background-size: cover; }

.tutorial-left-arrow-noaction {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url('../images/down-blue-arrow.png') no-repeat; }

.tutorial-up-arrow-noaction {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url('../images/down-blue-arrow.png') no-repeat; }

.tutorial-right-arrow-noaction {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  background: url('../images/down-blue-arrow.png') no-repeat; }

.social-media-btns {
  position: absolute;
  top: 5px;
  right: 0px; }
  .social-media-btns a {
    display: inline-block;
    width: 36px;
    height: 35px;
    margin-right: 5px; }

.social-icon-facebook {
  background: url("../images/icon-facebook.png") no-repeat; }

.social-icon-twitter {
  background: url("../images/icon-twitter.png") no-repeat; }

.social-icon-google {
  background: url("../images/icon-google.png") no-repeat; }

.social-icon-mail {
  background: url("../images/icon-mail.png") no-repeat; }
