html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Istok Web', sans-serif;
  font-size: 100%;
  color: #4b4b4b;
  background: #45b29d; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clear {
  clear: both; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.button-basic {
  border: 1px solid #dbb846;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
  width: 137px;
  height: 26px;
  z-index: 161;
  background: #efc94c;
  color: #816c29;
  line-height: 26px;
  border-radius: 3px; }
  .button-basic svg {
    float: right;
    margin-right: 8px;
    margin-top: 6px;
    width: 10px; }
    .button-basic svg polygon {
      fill: #816c29; }

.button-select {
  border: 1px solid #2e7466;
  border-radius: 2px;
  display: inline-block; }
  .button-select.active {
    background-color: #45b29d; }

.control-panel {
  width: 206px;
  font-size: .8125em;
  float: left; }
  .control-panel p {
    margin-bottom: 10px; }
  .control-panel h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: .875rem; }
  .control-panel .dial-wrapper {
    margin-bottom: 10px;
    position: relative;
    width: 116px;
    float: left; }
  .control-panel .range-wrapper {
    position: relative;
    width: 102px;
    margin-left: 9px;
    float: left; }
    .control-panel .range-wrapper p {
      margin-bottom: 0;
      margin-left: 12px; }
  .control-panel .dial-wrapper-range {
    margin-bottom: 45px;
    margin-bottom: 53px;
    position: relative;
    width: 51px;
    float: left; }
    .control-panel .dial-wrapper-range .dial-input-rangelow {
      left: -6px;
      top: 30px;
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .control-panel .dial-wrapper-range .dial-input-rangehigh {
      left: -10px;
      top: 30px;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .control-panel .dial-outline {
    background-color: rgba(239, 201, 76, 0.8);
    border-radius: 21px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    height: 39px;
    position: absolute;
    top: -5px;
    width: 92px;
    left: -7px; }
  .control-panel .dial-bg {
    background-color: #ADACAA;
    border-radius: 27px;
    border: 2px solid #888;
    box-shadow: 3px 4px 1px 0 rgba(0, 0, 0, 0.23);
    height: 30px;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 30px;
    z-index: 500; }
  .control-panel .connector-line {
    background: none repeat scroll 0 0 #ccc;
    height: 1px;
    position: absolute;
    top: 15px;
    width: 60px;
    z-index: 0; }
  .control-panel .connector-line-vertical {
    background: none repeat scroll 0 0 #999;
    height: 34px;
    position: absolute;
    top: 26px;
    width: 1px;
    z-index: 0;
    left: 14px; }
  .control-panel .ui-spinner input, .control-panel .dial-wrapper input, .control-panel .dial-wrapper-range input {
    background: none repeat scroll 0 0 #3f5765;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26) inset;
    color: #67c0cd;
    height: 33px;
    position: absolute;
    text-align: center;
    width: 48px;
    font-size: .775rem; }
  .control-panel .dial-input {
    left: 57px;
    top: -15px; }
  .control-panel .switch {
    margin-top: 10px;
    background: #edce69;
    float: left;
    border: 1px solid #9f9f9f;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19) inset;
    width: 14px;
    height: 32px;
    position: relative; }
    .control-panel .switch .toggle {
      background: #d2d1ce;
      border-bottom: 1px solid #9f9f9f;
      box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.27);
      height: 16px;
      left: 0;
      position: absolute;
      top: 15px;
      width: 12px;
      border-top: 1px solid #9f9f9f; }
    .control-panel .switch p {
      font-size: 0.715rem;
      margin: 2px 0 5px 22px; }

.block-type-select li {
  float: left;
  background: #d2d1ce;
  padding: 12px 0px;
  font-size: .8rem;
  width: 102px;
  text-align: center;
  opacity: .5; }
  .block-type-select li:first-child {
    margin-right: 2px;
    width: 102px; }
.block-type-select .active {
  background: #edebea;
  border-top: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  border-bottom: none;
  opacity: 1; }

.blocks-effect select {
  margin-bottom: 20px; }

.effect-select {
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea;
  padding: 20px; }
  .effect-select li {
    font-size: .75rem;
    display: inline-block;
    margin-bottom: 4px; }
    .effect-select li:nth-child(1), .effect-select li:nth-child(3), .effect-select li:nth-child(5) {
      width: 95px; }
  .effect-select .button-select {
    width: 11px;
    height: 9px;
    position: relative;
    top: 2px;
    display: inline-block;
    margin-right: 5px; }

.effect-note, .effect-volume, .effect-velocity, .effect-duration {
  border-top: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  padding: 20px;
  background: #edebea; }

.effect-volume, .effect-duration, .effect-velocity {
  display: none; }

.set-to-range {
  float: left;
  width: 50px; }
  .set-to-range p {
    text-align: center; }
  .set-to-range .button-select {
    height: 12px;
    width: 12px;
    margin-left: 20px;
    margin-bottom: 3px; }

.blocks-music {
  display: none; }

.instrument-select {
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea; }
  .instrument-select select {
    margin: 25px 0; }

.block-direction-select li {
  width: 25%;
  height: 28px;
  float: left;
  background: #edebea;
  border-left: 1px solid #a3a2a1;
  border-top: 1px solid #a3a2a1;
  position: relative; }
  .block-direction-select li:last-child {
    border-right: 1px solid #a3a2a1; }
.block-direction-select polygon {
  fill: #a3a2a1; }
.block-direction-select .horizontal {
  width: 12px;
  position: absolute;
  top: 5px; }
.block-direction-select .vertical {
  height: 12px;
  position: absolute;
  top: 7px; }
.block-direction-select .left {
  left: 16px; }
.block-direction-select .right {
  left: 21px; }
.block-direction-select .down, .block-direction-select .up {
  left: 18px; }
.block-direction-select .active {
  background: #fffefd; }
  .block-direction-select .active polygon {
    fill: #e27a3f; }

.note-wrapper {
  width: 123px; }

.note-select, .level-select, .activate-blocks {
  border-top: 1px solid #a3a2a1;
  border-left: 1px solid #a3a2a1;
  border-right: 1px solid #a3a2a1;
  background: #edebea;
  padding: 20px; }

.piano-roll {
  position: relative;
  border-top: 1px solid #a3a2a1;
  border-bottom: 1px solid #a3a2a1;
  float: left; }
  .piano-roll li {
    float: left; }
    .piano-roll li:nth-child(2) {
      left: 11px; }
    .piano-roll li:nth-child(4) {
      left: 23px; }
    .piano-roll li:nth-child(7) {
      left: 50px; }
    .piano-roll li:nth-child(9) {
      left: 63px; }
    .piano-roll li:nth-child(11) {
      left: 76px; }
    .piano-roll li:nth-child(12) {
      border-right: 1px solid #a3a2a1; }
  .piano-roll .whitekey {
    width: 13px;
    height: 43px;
    background: #fff;
    border-left: 1px solid #a3a2a1; }
  .piano-roll .blackkey {
    background: #000;
    height: 24px;
    position: absolute;
    width: 6px;
    z-index: 100; }
  .piano-roll .active {
    background: #efc94c; }

.octave-select {
  float: left;
  margin-left: 12px; }
  .octave-select .slider-value {
    background: none;
    border: none;
    width: 11px;
    margin-left: 19px; }

.level-select p {
  float: left;
  position: relative;
  top: 9px;
  font-size: .775rem; }

.instruments li {
  background: #45b29d;
  border: 1px solid #3ea18e;
  float: left;
  height: 87px;
  margin: 0 1px 1px 0;
  width: 103px; }
.instruments .instrument2, .instruments .instrument4 {
  margin-right: 0;
  width: 102px; }
.instruments .active {
  background: #23695c; }

select {
  /*Removes border*/
  -webkit-appearance: none;
  /*Removes default chrome and safari style*/
  -moz-appearance: none;
  /* Removes Default Firefox style*/
  background: url('dropdown_arrow.png') no-repeat #334d5c;
  /*Adds background-image*/
  background-position: 82px 7px;
  /*Position of the background-image*/
  /*Width of select dropdown to give space for arrow image*/
  text-indent: 0.01px;
  /* Removes default arrow from firefox*/
  text-overflow: "";
  /*Removes default arrow from firefox*/
  padding: 3px 10px;
  background: #bdbcba;
  color: #4b4b4b;
  border: none;
  width: 164px; }

.shadow, .ui-slider-vertical .ui-widget-header {
  box-shadow: 0 5px 0 1px rgba(0, 0, 0, 0.09) inset; }

.ui-slider-vertical {
  position: relative;
  text-align: left;
  height: 84px;
  width: 6px;
  border: none;
  background: #4d4d4d; }
  .ui-slider-vertical .ui-slider-handle {
    left: -0.6em;
    margin-bottom: -0.4em;
    margin-left: 0;
    background: #a3a2a1;
    cursor: default;
    height: 8px;
    position: absolute;
    width: 22px;
    z-index: 2;
    border: 1px solid #888;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.33); }
  .ui-slider-vertical .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%; }
  .ui-slider-vertical .ui-slider-range-min {
    bottom: 0; }
  .ui-slider-vertical .ui-widget-header {
    background: #45b29d;
    border: none; }
  .ui-slider-vertical .slider-value {
    font-size: .875rem;
    color: #4b4b4b; }

.ui-widget input {
  font-family: 'Istok Web', sans-serif;
  color: #67c0cd;
  background: #3f5765; }

.ui-spinner {
  position: relative;
  float: left;
  width: 50px;
  height: 28px; }
  .ui-spinner input.spinner {
    width: 32px;
    margin: 0;
    border: none;
    border-radius: 0;
    height: 28px;
    padding-top: 3px; }
  .ui-spinner a {
    position: absolute;
    background: #e5e4e1;
    right: -6px;
    color: #a3a2a1;
    width: 25px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #3f5765;
    text-align: center; }
  .ui-spinner .ui-spinner-up {
    top: 0;
    border-bottom: none; }
    .ui-spinner .ui-spinner-up .ui-icon {
      background-image: url("../images/spinner-up-arrow.png");
      background-position: 8px 4px; }
  .ui-spinner .ui-spinner-down {
    top: 14px; }
    .ui-spinner .ui-spinner-down .ui-icon {
      background-image: url("../images/spinner-down-arrow.png");
      background-position: 8px 4px; }
  .ui-spinner .ui-icon {
    text-indent: -99999px;
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px; }

#gridHorizontal, #gridVertical {
  height: 640px;
  margin-top: 0;
  position: absolute;
  top: 0;
  width: 640px;
  z-index: 1000; }

#gridHorizontal li {
  background: none repeat scroll 0 0 #394e5b;
  height: 1px;
  line-height: 1px;
  margin-top: 31px; }

#gridVertical li {
  background: none repeat scroll 0 0 #394e5b;
  display: inline-block;
  height: 640px;
  margin-right: 31px;
  width: 1px; }

#dragbox {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #000;
  position: absolute;
  background: rgba(229, 25, 128, 0.7);
  z-index: 999; }

.rnd-vol-block {
  background: #5C91DB;
  position: absolute;
  list-style-type: none; }

.rnd-octave-block {
  background: #7771C1;
  position: absolute;
  list-style-type: none; }

.rnd-note-block {
  background: #CE6262;
  position: absolute;
  list-style-type: none; }

.block-modifiers {
  background: #45b29d;
  padding: 0px 15px 25px 15px;
  border: 1px solid #3ea18e;
  margin-bottom: 1px;
  height: 283px; }

.music-block, .randomizer-block {
  border: 1px solid #3ea18e;
  height: 52px;
  padding-top: 10px;
  line-height: 15px;
  margin-bottom: 1px; }

.music-block {
  border-right: 1px solid #dfdfdf;
  width: 102px;
  margin-right: 1px; }

.randomizer-block {
  width: 103px; }

.block {
  background: #DBA65C;
  position: absolute;
  list-style-type: none; }

.modeSelect li {
  margin: 0 1px 1px 0;
  padding: 7px 0;
  width: 68px; }
.modeSelect .create {
  padding: 11px 0; }
.modeSelect .trash {
  padding: 10px 0;
  margin-right: 0; }

#wrapper {
  margin: 0 auto;
  position: relative; }

#stage {
  background: none repeat scroll 0 0 #3f5765;
  position: relative;
  height: 640px;
  width: 640px;
  float: left;
  margin-right: 10px; }
