$aqua: #45b29d;
$aqua-bright:#59e6cb;
$green: #23695c;
$gray:#a3a2a1;
$gray-medium:#d2d1ce;
$gray-light:#edebea;
$gray-extralight: #e5e4e1;
$gray-font:#4b4b4b;
$white-medium:#fffefd;
$orange:#e27a3f;
$blue-dark: #334d5c;
$blue-light: #67c0cd;
$blue-medium:#3f5765;
$yellow: #efc94c;
$yellow-90:#efc94c;
$yellow-80: #edce69;
$yellow-dark: #dbb846;
$purple: #6543cb;
$red : #CD5949;
$red-bright: #EA1010;


body {
    font-family: 'Istok Web', sans-serif;
    font-size: 100%;
    color:$gray-font;
    background:$aqua;
}
