
.button-trigger {
    border: 1px solid #6d1d1d;
    border-radius: 3px;
    background: rgba(109, 4, 1, 0.65) none repeat scroll 0 0;
    display: inline-block;
    height: 11px;
    margin-right: 7px;
    width: 11px;
    cursor: pointer;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.66) inset;
}


.left-button-wrapper {
    left:-150px;
    position:absolute;
    top:104px;
    z-index:25000;
    display:none;
}


.show-hotkeys, .toggle-tutorial, .example {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: .875em;
    cursor: pointer;
    border: 1px solid #8ccdc1;
    padding:10px;
    width:125px;
    text-align:center;
    color:#eee;
    margin-bottom:10px;
    background:#2C887A;
    &:hover {
        background:#149178;
    }
}