
.block-music,
.block-effect {
    position: absolute;
    list-style-type: none;
    z-index: 1000;
    border-bottom: 1px solid #394e5b;
    border-left: 1px solid #394e5b;
    border-radius: 4px;
    //transform: scale(.7);
    //transition: transform  .5s;
}
.scale {
   transform: scale(1);
}
