#grid {
    background: none repeat scroll 0 0 #3f5765;
    position: relative;
    float: left;
    margin-right: 10px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#gridHorizontal,
#gridVertical {
    margin-top: 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}

#gridHorizontal li {
    background: none repeat scroll 0 0 #394e5b;
    height: 1px;
    line-height: 1px;
}

#gridVertical li {
    background: none repeat scroll 0 0 #394e5b;
    display: inline-block;
    width: 1px;
}

#dragbox {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #000;
    position: absolute;
    background: rgba(229, 25, 128, .7);
    z-index: 2000;
}