.hotekeys {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20000;
    padding-top:130px;
    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin:0 auto;
        width: 400px;
        background: $gray-extralight;
        padding: 10px 10px 8px;
        td {
            border: 1px solid #a3a2a1;
            padding: 12px;
            font-size: .9em;
            &:last-child {
                text-align: center;
            }
        }
    }
}

.key-btn {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999;
    border-radius: 2px;
    font-size: 0.875em;
    padding: 2px 10px 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
    .left {
        position: relative;
        left: -1px;
    }
    .right {
        position: relative;
        left: 1px;
        top: 1px;
    }
    &.sml {
        padding: 2px 9px 0;
    }
}

.show-hotkeys {
    font-size: .875em;
    cursor: pointer;
    border: 1px solid #8ccdc1;
    position:absolute;
    top:10px;
    right:0;
    padding:10px 10px 8px 10px;
    color:#eee;
}