.mode-select {
    margin-top:20px;
    float:left;
    cursor:pointer;
    li {
        margin:0 1px 1px 0;
        padding: 7px 0;
        width: 68px;
        display:inline-block;
        text-align: center;
        &.active {
            background: #3FA38F;
        }
    }
    .select {
        img {
            // width: 35px;
        }
    }
}