    #panel {
        // margin-left: 100px;
        // margin-top: 25px;
        width: 206px;
        height: 300px;
        font-size: .8125em;
        float:left;
        p {
            margin-bottom: 10px;
        }
        .dial-input {
            background: none repeat scroll 0 0 #3f5765;
            border: 2px solid #ccc;
            border-radius: 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26) inset;
            color: #67c0cd;
            height: 33px;
            left: 57px;
            position: absolute;
            text-align: center;
            width: 48px;
            top: -15px;
        }
    }
    .block-type-select {
        li {
            float: left;
            background: $gray-medium;
            padding: 12px 0px;
            font-size: .8rem;
            width: 101px;
            text-align: center;
            opacity: .5;
            // border:1px solid $gray-medium;
            &:first-child {
                margin-right: 2px;
                width: 102px;
            }
        }
        .active {
            background: $gray-light;
            border-top: 1px solid $gray;
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;
            border-bottom: none;
            opacity: 1;
        }
    }
    .instrument-select {
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        background: $gray-light;
        select {
            margin: 25px 0;
            width: 170px;
        }
    }
    .block-direction-select {
        li {
            width: 25%;
            height: 28px;
            float: left;
            background: $gray-light;
            border-left: 1px solid $gray;
            border-top: 1px solid $gray;
            position: relative;
            &:last-child {
                border-right: 1px solid $gray;
            }
        }
        polygon {
            fill: $gray;
        }
        .horizontal {
            width: 12px;
            position: absolute;
            top: 5px;
        }
        .vertical {
            height: 12px;
            position: absolute;
            top: 7px;
        }
        .left {
            left: 16px;
        }
        .right {
            left: 21px;
        }
        .down, .up {
            left: 18px;
        }
        .active {
            background: $white-medium;
            polygon {
                fill: $orange;
            }
        }
    }
    .note-select, .level-select, .activate-blocks {
        border-top: 1px solid $gray;
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        background: $gray-light;
        padding: 20px;
    }
    .piano-roll {
        position: relative;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
        float: left;
        li {
            float: left;
            &:nth-child(2) {
                left: 11px;
            }
            &:nth-child(4) {
                left: 23px;
            }
            &:nth-child(7) {
                left: 50px;
            }
            &:nth-child(9) {
                left: 63px;
            }
            &:nth-child(11) {
                left: 76px;
            }
            &:nth-child(12) {
                border-right: 1px solid $gray
            }
        }
        .whitekey {
            width: 13px;
            height: 43px;
            background: #fff;
            border-left: 1px solid $gray;
        }
        .blackkey {
            background: #000;
            height: 24px;
            position: absolute;
            width: 6px;
            z-index: 100;
        }
    }
    .octave-select {
        float: left;
        margin-left: 12px;
        .slider-value {
            background: none;
            border: none;
            width: 11px;
            margin-left: 19px;
        }
        // margin-left:25px;
        // margin-top:10px;©
    }
    .level-select {
        p {
            float: left;
            position: relative;
            top: 9px;
            font-size: .775rem;
        }
    }
    .dial_wrapper {
        margin-bottom: 10px;
        position: relative;
        width: 116px;
        float: left;
    }
    .dial-bg {
        background-color: #ADACAA;
        border-radius: 27px;
        border: 2px solid #888;
        box-shadow: 3px 4px 1px 0 rgba(0, 0, 0, 0.23);
        height: 30px;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 30px;
        z-index: 500;
    }
    .connector-line {
        background: none repeat scroll 0 0 #ccc;
        height: 1px;
        position: absolute;
        top: 15px;
        width: 60px;
        z-index: 0;
    }
    .instruments {
        li {
            background: $aqua;
            border: 1px solid #3ea18e;
            float: left;
            height: 87px;
            margin: 0 1px 1px 0;
            width: 103px;
        }
        .instrument2, .instrument4 {
            margin-right: 0;
            width: 102px;
        }
        .active {
            background: $green;
        }
    }