.social-media-btns {
	position:absolute;
	top:5px;
	right:0px;
    a {
        display: inline-block;
        width: 36px;
        height: 35px;
        margin-right:5px;
    }
}
.social-icon-facebook {
    background: url("../images/icon-facebook.png") no-repeat;
}

.social-icon-twitter {
    background: url("../images/icon-twitter.png") no-repeat;
}

.social-icon-google {
    background: url("../images/icon-google.png") no-repeat;
}

.social-icon-mail {
    background: url("../images/icon-mail.png") no-repeat;
}