#wrapper {
    margin:0 auto;
   /* width:640px;*/
}
#stage {
    background: none repeat scroll 0 0 #3f5765;
    position:relative;
    height: 640px;
    width: 640px;
    float:left;
    margin-right:10px;
}