#wrapper {
    margin: 0 auto;
    position: relative;
    width: 856px;
    display: none;
    -webkit-transform: translate3d(0, 0, 0);

    @include break-at(1180) {
        margin:0;
        left:160px;
    }
}

.browser-message {
    display: none;
    background: $gray-light;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    padding: 20px 0;
    text-align: center;
}

.mobile-message {
    color: white;
    font-size: 1.25em;
    line-height: 29px;
    margin: 100px auto 0;
    text-align: center;
    width: 60%;
}

.close-browser-message {
    float: right;
    position: relative;
    right: 20px;
    top: -20px;
    cursor: pointer;
}