#wrapper {
    margin:0 auto;
    position:relative;
    // margin-left:50px;
    // margin-top:50px;
     width:1000px;
     margin-top:50px;
     margin:0 auto;
}
#stage {
    background: none repeat scroll 0 0 #3f5765;
    position:relative;
    height: 640px;
    width: 640px;
    float:left;
    margin-right:10px;
   // margin-left:50px;
    //margin-top:50px;
}