.top-panel-wrapper {
    width: 640px;
}

.top-panel-section {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-right: 18px;
    margin-top: 30px;
    p {
        color: #eee;
        font-size: 12px;
        margin-bottom: 4px;
        text-align: center;
    }
    .border {
        background: #8ccdc1;
        height: 7px;
        margin: 0 auto;
        text-align: center;
        width: 1px;
    }
    ul {
        margin-bottom: 10px;
        float: left;
        cursor: pointer;
        border: 1px solid #8CCDC1;
        padding: 0 5px;
        li {
            margin: 0 1px 1px 0;
            // padding: 7px 0;
            // width: 68px;
            display: inline-block;
            text-align: center;
            opacity: .45;
            padding: 0 5px;
            height: 38px;
            line-height: 50px;
            &.active, &:hover {
                opacity: 1;
                // background: #3FA38F;
            }
        }
    }
}

.master-volume-section {
    float: right;
    margin: 82px 10px 0 0;
    img {
        float: left;
        left: -14px;
        position: relative;
        top: -2px;
        cursor:pointer;
    }
}

.master-volume-slider {
    width: 125px;
    height: 10px;
    background: #8ccdc1;
    border-radius: 10px;
    // border: 1px solid #3D9E8A;
    float: right;
    // margin: 100px 10px 0 0;
    .ui-slider-handle {
        background: #F7F7F7;
        border-radius: 10px;
        width: 15px;
        height: 15px;
        margin-left: -6px;
        top: -3px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    }
}