.tutorial-text-wrapper {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 31000;
}

.tutorial-text {
    line-height: 16px;
    width: 250px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 0.875em;
    padding: 12px 15px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.tutorial-next {
    display: none;
    background: #A9A8A7;
    color: #4b4b4b;
    border-radius: 3px;
    float: right;
    padding: 6px 0 5px 0;
    text-align: center;
    margin-top: 10px;
    width: 110px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.tutorial-overlay {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 100%;
    position: absolute;
    z-index: 20000;
}

.control-panel-overlay {
    height: 480px;
    position: absolute;
    right: 0;
    width: 206px;
}

.top-panel-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    position:absolute;
}

.piano-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    z-index:20000;
}

.canvas-overlay {
    left: 0;
}

.tutorial-arrow {
    position: absolute;
    z-index: 31000;
    height: 40px;
    width: 30px;
}

.tutorial-down-arrow {
    background: url('../images/down-yellow-arrow.png') no-repeat;
}

.tutorial-left-arrow {
    @include transform(rotate(90deg));
}

.tutorial-up-arrow {
    @include transform(rotate(80deg));
}

.tutorial-right-arrow {
    @include transform(rotate(270deg));
}

.tutorial-down-arrow-noaction {
    background: url('../images/down-blue-arrow.png') no-repeat;
    background-size: cover;
}

.tutorial-left-arrow-noaction {
    @include transform(rotate(90deg));
    background: url('../images/down-blue-arrow.png') no-repeat;
}

.tutorial-up-arrow-noaction {
    @include transform(rotate(180deg));
    background: url('../images/down-blue-arrow.png') no-repeat;
}

.tutorial-right-arrow-noaction {
    @include transform(rotate(270deg));
    background: url('../images/down-blue-arrow.png') no-repeat;
}

